.imgTrans:hover{
    content: "h5osh bdma8y";
    transform: rotate(30deg) scale(2,2);
    opacity: .5;
    font-size: 40px;
    color: yellow;

}
.container {
    position: relative;
    width: 50%;
  }
  .form-control:focus{
    box-shadow: 1px 2px yellow !important;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-position: center;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 110px;
    left: 120px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;

  }
  .container:hover .image {
    opacity: 0.3;
  } 
  .container:hover .middle {
    opacity: 1;
  }
  .text {

    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }